body 
{
    margin:20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.per-img 
{
    width:150px;
}
.card 
{
    margin:0 auto;
    width:400px;
    padding:20px;
    display:flex;
    justify-content:space-around;
    background:#f195ad;
    color:black;
    border-bottom: 8px solid #FF0A54;


}